In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [2]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples

C:\Users\Stefan\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [10]:
    # Use Pandas to perform the sql query
stmt = db.session.query(Samples).statement
df = pd.read_sql_query(stmt, db.session.bind)

    # Return a list of the column names (sample names)
print(df)

      otu_id                                          otu_label  940  941  \
0          1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...    0    0
1          2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...    0    0
2          3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...    0    0
3          4  Archaea;Euryarchaeota;Methanobacteria;Methanob...    0    0
4          5  Archaea;Euryarchaeota;Methanobacteria;Methanob...    0    0
5          6  Archaea;Euryarchaeota;Methanobacteria;Methanob...    0    0
6          7                                           Bacteria    0    0
7          8                                           Bacteria    0    0
8          9                                           Bacteria    0    0
9         10                                           Bacteria    0    0
10        11                                           Bacteria    1    0
11        12                                           Bacteria    0    0
12        13                                           Bacteria    0    0
13        14                                           Bacteria    0    0
14        15                                           Bacteria    0    0
15        16                                           Bacteria    0    0
16        17                                           Bacteria    0    0
17        18                                           Bacteria    0    0
18        19                                           Bacteria    1    0
19        20                                           Bacteria    0    0
20        21                                           Bacteria    0    0
21        22                                           Bacteria    1    0
22        23                                           Bacteria    0    0
23        24                                           Bacteria    1    0
24        25                                           Bacteria    0    0
25        26                                           Bacteria    0    0
26        27                                           Bacteria    0    0
27        28                                           Bacteria    0    0
28        29                                           Bacteria    0    0
29        30                                           Bacteria    0    0
...      ...                                                ...  ...  ...
3633    3637  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3634    3638  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3635    3639  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3636    3640  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3637    3641  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3638    3642  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3639    3643  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3640    3644  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3641    3645  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3642    3646  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3643    3647  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3644    3648  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3645    3649  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3646    3650  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3647    3651  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3648    3652  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3649    3653  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3650    3654  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3651    3655  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3652    3656  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3653    3657  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3654    3658  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3655    3659  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3656    3660  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3657    3661  Bacteria;Synergistetes;Synergistia;Synergistal...    0    0
3658    3662             Bacteria;TM7;TM7_genera_incertae_sedis    0    0
3659    3663  Bacteria;Verrucomicrobia;Spartobacteria;Sparto...    0    0
3660    3664  Bacteria;Verrucomicrobia;Spartobacteria;Sparto...    0    0
3661    3665  Bacteria;Verrucomicrobia;Spartobacteria;Sparto...    0    0
3662    3666  Bacteria;Verrucomicrobia;Verrucomicrobiae;Verr...    0    0

      943  944  945  946  947   948  ...  1562  1563  1564  1572  1573  1574  \
0       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
1       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
2       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
4       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
5       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
6       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
7       0    0    0    0    0   0.0  ...     0     0     1     0     0     0
8       0    0    0    1    0   0.0  ...     0     0     0     0     0     0
9       0    0    0    0    0   0.0  ...     0     0     0     0     0     0
10      0    0    0    0    0   1.0  ...     0     0     0     0     0     0
11      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
12      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
13      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
14      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
15      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
16      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
17      0    0    0    2    1   0.0  ...     0     0     0     0     0     0
18      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
19      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
20      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
21      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
22      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
23      0    0    0    0    0   0.0  ...     0     0     0     0     0     1
24      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
25      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
26      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
27      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
28      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
29      0    0    0    0    0   0.0  ...     0     0     0     0     0     0
...   ...  ...  ...  ...  ...   ...  ...   ...   ...   ...   ...   ...   ...
3633    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3634    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3635    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3636    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3637    0    0    0    0    0   0.0  ...     0     0     0     1     0     0
3638    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3639    0    0    0    0    0  20.0  ...     0     0     0    64     0     1
3640    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3641    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3642    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3643    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3644    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3645    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3646    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3647    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3648    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3649    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3650    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3651    0    0    0    0    0   0.0  ...     0     0     0     1     0     0
3652    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3653    0    0    0    0    0   0.0  ...     0     0     0     1     0     0
3654    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3655    0    0    0    0    0   0.0  ...     0     0     0     2     0     0
3656    0    0    0    0    0   0.0  ...     0     0     0     3     0     0
3657    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3658    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3659    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3660    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3661    0    0    0    0    0   0.0  ...     0     0     0     0     0     0
3662    0    0    0    0    0   0.0  ...     0     0     0     0     0     0

      1576  1577  1581  1601
0        0     0     0     0
1        0     0     0     0
2        0     0     0     0
3        0     0     0     0
4        0     0     0     0
5        0     0     0     0
6        0     0     0     0
7        0     0     0     0
8        0     0     0     0
9        0     0     0     0
10       0     0     0     0
11       0     0     0     0
12       0     0     0     0
13       0     0     0     0
14       0     0     0     0
15       0     0     0     0
16       0     0     0     0
17       0     0     0     0
18       0     0     0     0
19       0     0     0     0
20       0     0     0     0
21       0     0     0     0
22       0     0     0     0
23       0     0     0     0
24       0     0     0     0
25       0     0     0     0
26       0     0     0     0
27       0     0     0     0
28       0     0     0     0
29       0     0     0     0
...    ...   ...   ...   ...
3633     0     0     0     0
3634     0     0     0     0
3635     0     0     0     0
3636     0     0     0     0
3637     0     0     0     0
3638     0     0     0     0
3639     0     0     0     0
3640     0     0     0     0
3641     0     0     0     0
3642     0     0     0     0
3643     0     0     0     0
3644     0     0     0     0
3645     0     0     0     0
3646     0     0     0     0
3647     0     0     0     0
3648     0     0     0     0
3649     0     0     0     0
3650     0     0     0     0
3651     0     0     0     0
3652     0     0     0     0
3653     0     0     0     0
3654     0     0     0     0
3655     0     0     0     0
3656     0     0     0     0
3657     0     0     0     0
3658     0     0     0     0
3659     0     0     0     0
3660     0     0     0     0
3661     0     0     0     0
3662     0     0     0     0

[3663 rows x 155 columns]

In [20]:
def sample_metadata(sample):
    sel = [
        Samples_Metadata.sample,
        Samples_Metadata.ETHNICITY,
        Samples_Metadata.GENDER,
        Samples_Metadata.AGE,
        Samples_Metadata.LOCATION,
        Samples_Metadata.BBTYPE,
        Samples_Metadata.WFREQ,
        ]
    
    results = db.session.query(*sel).filter(Samples_Metadata.sample == sample).all()
       # Create a dictionary entry for each row of metadata information
    sample_metadata = {}
    for result in results:
        sample_metadata["sample"] = result[0]
        sample_metadata["ETHNICITY"] = result[1]
        sample_metadata["GENDER"] = result[2]
        sample_metadata["AGE"] = result[3]
        sample_metadata["LOCATION"] = result[4]
        sample_metadata["BBTYPE"] = result[5]
        sample_metadata["WFREQ"] = result[6]

    return(sample_metadata)
    return(jsonify(sample_metadata))

In [22]:
sample_metadata()

TypeError: sample_metadata() missing 1 required positional argument: 'sample'

NameError: name 'results' is not defined

In [ ]:
@app.route("/samples/<sample>")
def samples(sample):
    """Return `otu_ids`, `otu_labels`,and `sample_values`."""
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
    sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]

    # Sort by sample
    sample_data.sort_values(by=sample, ascending=False, inplace=True)

    # Format the data to send as json
    data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data[sample].values.tolist(),
        "otu_labels": sample_data.otu_label.tolist(),
    }
    return jsonify(data)